.card{
    min-width: 100px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
    cursor: pointer;
    margin: 10px;
}


.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.9rem;
}